# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Env / secrets
.env

# Data
*.db
*.sqlite3

# Audio test files (copyrighted, not for the repo)
*.mp3
*.wav
*.flac

# OS
.DS_Store
Thumbs.db
